@model IEnumerable<Employee>

<h1>List of all employees</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Department</th>
        </tr>
    </thead>
  
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Name</td>
                <td>@employee.Age</td>
                <td>@employee.Department</td>
                <td><a asp-controller="Employee" asp-action="Edit" asp-route-id="@employee.Id" class="btn btn-primary">Edit</a></td>
                <td><a asp-controller="Employee" asp-action="Remove" asp-route-id="@employee.Id" class="btn btn-primary">Remove</a></td>
            </tr>
        }
    </tbody>
</table>

<br />
<br />

<a asp-controller="Employee" asp-action="Add" class="btn btn-primary">Add a worker</a>

<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Go back to home page</a>